# PlatformIO
.pio
.pioenvs
.piolibdeps
.clang_complete
.gcc-flags.json

# Arduino IDE
*.hex
*.elf
*.bin
!binaries/*.bin
*.map
build/
output/

# VS Code / IDEs
.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/tasks.json
.idea/
*.sublime-project
*.sublime-workspace

# OS specific files
.DS_Store
Thumbs.db
Desktop.ini
